h1{
    text-align: center;
    color: brown;
    text-decoration: underline;
}

body{
    background-color: rgb(255, 196, 196);
}

.slider-container {
    position: relative;
    max-width: 600px;
    margin: auto;
}

.slider {
    display: flex;
    overflow: hidden;
    
}

.slider img {
    width: 100%;
    height: 500px;

}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.prev {
    left: 10px;
    background-color: white;
    color: black;
}

.next {
    right: 10px;
    background-color: white;
    color: black;
}
